
.button {
  display: inline-block;
  padding: 15px 40px;
  vertical-align: middle;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  color: $green;
  text-transform: uppercase;

  background-color: $white;
  border: 1px solid $green;
  transition: all 0.07s linear;
  cursor: pointer;


  &:hover {
    background-color: $green;

    color: $white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--page {
    padding: 20px 25px;

    font-size: 16px;
    line-height: 22px;
    color: $black;

    border: none;
  }

  &--fill {

    color: $white;

    background-color: $green;
  }



  &--wide {
    padding: 15px 40px;
    width: 158px;
  }

}
