body {
  margin: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $gray;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $black;
}


h1, h2 {
  margin: 0;
  font-family: 'Cormorant Infant', serif;
  color: $black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid, .container {
  max-width: 1135px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.grid--mix {
  flex-direction: row;
  align-items: stretch;
}

.col {
  width: 49%;
  padding: 25px 0 60px;
}

.col--large {
  width: 60%;
}

.col--small {
  width: 32%;
}

.wrapper {
  padding: 0 25px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}

@media (max-width: 830px) {
  .grid, .container {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}
