.logo {

  &__title {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }

  &__info {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant Infant', serif;
    text-align: center;
  }

  &--light {
    color: $white;
    max-width: 430px;
  }

  &--light .logo__title {
    font-size: 36px;
    line-height: 44px;
    color: $white;
    text-align: left;
  }

  &--light .logo__info{
    text-align: left;
  }
}
