.page-footer {
  padding: 45px 45px;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;


  &__box-head {
    max-width: 1335px;
    width: 100%;
    // padding: 0 45px;
    margin: 0 auto;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    box-sizing: border-box;
  }

  &__container-soc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__copyright {
    max-width: 1335px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $gray;
  }

  &__copyright-text {
    margin: 0;
    margin: 10px 0 15px;
  }

}

.page-footer__socials {
    margin-bottom: 35px;
}

@media (max-width: 900px) {
  .page-footer .page-footer__box-head {
    flex-direction: column;
  }

  .page-footer .page-footer__menu {
    margin-bottom: 20px;
  }

  .page-footer__container-soc {
    align-items:center;

  }

}
