

.pagination {
  position: relative;

  display: flex;
  padding: 25px 25px 0;
  box-sizing: border-box;


}

.pagination__list {
  position: relative;


}

.pagination__item:first-child {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-arr-left.png");
    width: 7px;
    height: 11px;
    left: -25px;
    top: 27px;
  }

}

.pagination__item:last-child {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-arr-right.png");
    width: 7px;
    height: 11px;
    right: -10px;
    top: 27px;
  }
}
