.container-posts-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:  center;
  justify-content: center;

}

.post {
  padding: 20px;
  margin-bottom: 25px;
  max-width: 555px;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: $white;
  box-sizing: border-box;

  &__title {
    color: $black;
    font-size: 30px;
    line-height: 24px;
    font-weight: 600;
    font-style: italic;
  }

  &__wrapper-img {
    margin-bottom: 20px;

    order: -2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__date {
    position: relative;

    padding-left: 25px;
    order: -1;
    margin-bottom: 15px;

    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-date.png");
      width: 15px;
      height: 16px;
      left: 0px;
      top: 4px;
    }
  }

  &__desc {
    margin: 0;
    margin: 10px 0 ;
  }

}

.post__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.post--small {
  max-width: 275px;
  margin: 0;
  padding: 20px 20px 15px;
  border: 0.5px solid $main-color;
  justify-content: center;
  flex-shrink: 1;
}

.post--small .post__wrapper-img {
  width: 232px;
  height: 156px;
}

.post--small .post__title {
  font-size: 24px;
  line-height: 26px;
}

.post--small .post__button {
  position: relative;

  padding-left: 25px;
  font-size: 12px;
  line-height: 24px;
  color: $green;
  font-weight: bold;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-btn.png");
    width: 16px;
    height: 16px;
    left: 2px;
    top: 4px;
  }
}


@media (max-width: 1110px) {
  .post {
    max-width: 520px;
  }
}

@media (max-width: 1035px) {
  .post {
    max-width: 420px;
  }

  .post--small {
    max-width: 275px;
  }
}

@media (max-width: 840px) {
  .post {
    max-width: 520px;
  }

  .post--small {
    max-width: 275px;
  }
}

@media (max-width: 373px) {
  .post__container .post__button {
    margin-bottom: 10px;
  }
}
