.container-posts-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-small {
  padding: 25px;
  max-width: 275px;
  width: 100%;

  box-sizing: border-box;
  
  border: 1px solid $gray;
}

.post-small__button {
  font-size: 12px;
  line-height: 24px;
}
