.site-list {
  @include reset-list;

  margin: 0 -42.5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  &__item {
    margin: 0 42.5px;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__link:hover, &__link:focus, &__link:active {
    color: $green;
  }
}

.site-list--col {
  flex-direction: column;
}


.site-list--col .site-list__item {
  font-size: 16px;
  line-height: 34px;
}

.site-list--col .site-list__link {
  color: $white;

  &:hover, &:focus, &:active {
    color: $green;
  }
}

@media (max-width: 1170px) {
  .site-list__item {
    margin: 0 20px;
  }
}

@media (max-width: 925px) {
  .site-list {
    flex-direction: row;
    padding: 0 20px 0 20px;

  }

  .page-footer .site-list {
    flex-direction: column;
  }

  .site-list__item {
    font-size: 26px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

}

@media (max-width: 762px) {
  .site-list {
    flex-direction: column;

  }
}
